body {
  margin: 0;
  background-color: rgb(55, 55, 55);
      font-family: 'Inter', system-ui, sans-serif;

}


progress:hover{
  cursor: pointer;
}


button:hover {
  cursor: pointer;
}

::selection{
  background-color:#d7557e;
  color: #EAEAEA;
}

.search-container {

}
.search-container::before{
  content: "";
  position:absolute;
  top:2vh;
  left:3.5vh;
  z-index: -1;
    background-color: #000000;
  border-radius: 1vh/1.5vh;
  width: 30%;
  height: 10%;
}

.search input::placeholder{
    color: white;
    opacity: 60%;

}

.search input {

  padding-left: 1vh;
  width: 25%;
  font-size: 1.3em;
  border-radius: 2vh/1.5vh;
  height: 7vh;
  background-color: transparent;
  border: 0;
  caret-color: #d7557e;
  color:white;
}

.search input:focus{
  outline: none;
}

.search{
        top:.5vh;

  padding-left: 5vh;
  padding-top:2vh;
  position: relative;
  z-index: 1000;

}

.search button {
  border: 0;
  background-color: transparent;
}

.search button img {
  position: relative;
  width: 2.5vw;
  top: 1.8vh;
  right:1vh;
  transition: all .5s ease;
}
.search button img:hover{
  transform: scale(.9);
}


.main_things-container {
  position:fixed;
    width: 100vw;    /* Ensures the body takes the full width of the viewport */
    height: 100vh;   /* Ensures the body takes the full height of the viewport */
    overflow:hidden;/* Prevents any potential scrolling within the body */
  bottom:0;
  left: 0;
  display: flex; 
  flex-direction: column; 
  justify-content: flex-end; 
  align-items: center;

}



.list {
  font-size: 2em;
  padding-bottom: 20px;
  font-weight:600;
  background-color: rgb(41, 41, 41);
  padding: 13px;
  color: #EAEAEA;;
  box-sizing: border-box;
  border-radius: 10%;
  
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh;
  margin: 0vh;
  gap: 5px;
  width: 100%;
}

.button-wrapper button {
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  background-color: transparent;
}

.play {
  /* transform: scale(2.5); */
  outline: 10px;
  border: 10px;
  background-color: transparent;
  padding-bottom: 0px;
}
.img {
  display:flex;
  width: 42px;
  transition: all 0.5s ease;
}
.next {
  width: 20px;
  height: auto;
  transition: all 0.5s ease;
  padding: 0;
}


.back {
  transform: scaleX(-1);
  width: 20px;
  height: auto;
  transition: all 0.5s ease;
  padding:0;
  
}

.play-wrapper button{
  transition: all .5s ease;
}

.play-wrapper button:hover{
  transform: scale(1.05);
}

.back_b {
  outline: 0px;
  border: 0px;
  background-color: transparent;
}

.progress-wrapper progress {
  /* 1. Reset base styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

.p-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.button-wrapper {
  /* transform: scale(2.5); */
}
.progress-wrapper progress::-webkit-progress-value {
  background-color: #d7557e; /* Your desired filled color */
}

.progress-wrapper progress::-webkit-progress-bar {
  background-color: #333333; /* Your desired track color */
  border-radius: 0px;
}


.progress-wrapper {
  width: 30%;
  padding-top: 1vh;
  /* margin-left: 20px; */
  overflow: hidden;
  outline: 0;

}

.play-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  align-items: center;
  /* padding-top: 8vh; */

}




.progress-wrapper progress {
  /* transform: scale(5);
  transform-origin: center; */
  height: 13px;
  width: 100%;
  margin-bottom: 2vh;
}


.image {
  display: flex;
  /* transform: scale(1.5); */
  width: 70px;
  /* padding-right: 20px; */
}

.black {
  position:fixed;
  height: 18vh; /* Sets the vertical dimension */
  width: 100vw;  /* Sets the horizontal dimension */
  background-color: black; /* Fills the shape with black */
  bottom: 0;
  left: 0;
  z-index: -1;
}

.toast {
  background:#d7557e !important;
    font-family: 'Inter', system-ui, sans-serif;
    box-shadow: 0 0 0px!important;
    /* box-shadow: 0 0 7px rgba(255, 90, 169, 0.389) !important;  */
  border: 0px !important;
}